@font-face {
	font-family: Cinzel-Regular;
	src: url('Cinzel-Regular.otf');
}

@font-face {
	font-family:Ja;
	src: url('Ja.TTF');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.5s;
}

body{
	background-color: #222;
}

body::-webkit-scrollbar{
	width: 10px;
	background-color: #111;
}

body::-webkit-scrollbar-thumb{
	background: #EF3B36;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom,  #f51255, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom,  #f51255, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 50px;
}

/* Whats ------------------------------------------------------------------------------------*/

.whats{
	position: fixed;
	width: 70px;
	height: 70px;
	background: #EF3B36;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom,  #f51255, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom,  #f51255, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	z-index: 10;
	bottom: 3%;
	right: 5%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
		transition:	0.4s;
		opacity: 0.9;
	
}

.whats:hover{
	transform: rotate(15deg);
	transition: 0.4s
}

.whats img{
	width: 50px;
	height: 50px;
}

/* Whats------------------------------------------------------------------------------------*/

/* Tela de carergamento ---------------------------------------------------------------------------*/


.carregando{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	background: #111;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #222, #111);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #222, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carregado{
	display: none;
}

.carregando-h2{
	font-size: 60px;
	font-family: Cinzel-Regular;
	color: #f51255;
	letter-spacing: 15px;
	font-weight: lighter;
}

.carregando-h2::after{
	content: '';
	display: block;
	width: 0%;
	height: 1px;
	background: #f51255;
	margin-top: 2px;

	animation: borda-h2 10s infinite;
}

@keyframes borda-h2 {
	0% {
		width: 0%
	}
	100%{
		width: 100%
	}
}

/* Tela de carergamento ------------------------------------------------------------------------------------*/

/* HEADER ----------------------------------------------------------------------------------------*/

.content-header{
	width: 100%;
	background-color: #111;


}

header{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	align-items: center;
	display: flex;
	justify-content: space-between;

}

h1{
	color: #f51255;
	font-family: Cinzel-Regular;
	font-size: 20px;
	padding: 10px;
	margin: 10px 0px;
	letter-spacing: 10px;
	text-align: center;
	font-weight: lighter;
}

h1::after{
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #111;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f51255, #111);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f51255, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: width .3s;
	margin-top: 2px;

}

h1:hover::after{
	width: 100%;
}

b{
	font-weight: lighter;
	font-size: 22px;
}

header ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.a-nav{
	font-family: Cinzel-Regular;
	color: #f51255;
	text-decoration: none;
	padding: 0px 20px;
	font-weight: lighter;
}



a{
	text-decoration: none;
}

li{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a-nav::after{
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #111;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f51255, #111);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f51255, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: width .3s;
	margin-top: 2px;

}

.a-nav:hover::after{
	width: 100%;
}






#portfolioAnchor{

}

#contatoAnchor{

}
















/* HEADER ----------------------------------------------------------------------------------------*/

/* Main - Imagem Notebook - Digitação ------------------------------------------------------------------------------------*/

.content-main{
	width: 100%;
	height: 90vh;
	background-image: url(../img/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-height: 1100px;
	background-size: cover;
	border-left: 3px solid #222;
	border-right: 3px solid #222;
	display: flex;
	justify-content: center;
	align-items: center;

}

.h2-efeito{
	font-family: Ja;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 15px;
	font-size: 60px;
	text-align: center;
	display: none;
	width: 50%;
}

.h2-efeito::after{
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: pisca .7s infinite;
}

.active{
	display: inline;
}

@keyframes pisca {
	0%, 100% {
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
}

/* Main - Imagem Notebook - Digitação ----------------------------------------------------------------------------------*/

/* Banner Preto Sobre --------------------------------------------------------------------------------*/

.banner-sobre{
	width: 100%;
	height: 500px;
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-sobre{
	font-size: 35px;
	width: 70%;
	text-align: center;
	color: #f51255;
	font-family: Ja;
	line-height: 50px;



}

[data-animation]{
	opacity: 0;
	transition: 1s;

}
[data-animation="bottom"]{
	transform: translate3d(0, 250px, 0);
}
[data-animation].animate {
	transform: translate3d(0px, 0px, 0px);
	opacity: 1;

}
[data-animation="right"]{
	transform: translate3d(-50px, 0px, 0);
}
[data-animation="right2"]{
	transform: translate3d(-100px, 0px, 0);
}
[data-animation="left"]{
	transform: translate3d(50px, 0px, 0);

}
[data-animation="left2"]{
	transform: translate3d(100px, 0px, 0);
	
}

/* Banner Preto Sobre ---------------------------------------------------------------------------*/

/* Portfolio - Galeria ---------------------------------------------------------------------------*/

.section-portfolio{
	width: 100%;
	padding: 30px 0;
	background-color: #222;
	margin-bottom: 40px;
}

.portfolio-titulo{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.portfolio-titulo h3{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 10px;
	padding-bottom: 30px;
}

.galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 50px;

}

.galeria a{
	flex:25%;
	cursor: pointer;
	overflow: hidden;

}

.galeria a img{
	width: 100%;
	height: 100%;
	transition: 0.4s;

}

.galeria a:hover img{
	transform: scale(1.2) ;

}




/* Portfolio - Galeria ---------------------------------------------------------------------------*/


/* Sites ---------------------------------------------------------------------------*/

.section-sites{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.titulo-sites{
	width: 100%;
	margin: 0 auto;
}
.titulo-sites h3{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 10px;
	padding-bottom: 30px;
}
.galeria-sites{
	width: 70%
	margin: 0 auto;
	text-align: center;
}

.galeria-sites p{
	font-size: 45px;
	color: #f51255;
	padding: 20px;
}

.galeria-sites img{
	width: 50%;
	margin-bottom: 35px;
	border-radius: 10px;


}

.galeria-sites img:hover{
transform: scale(1.02);
filter: saturate(170%);
}

.loading{
	animation: rotating 2s linear infinite;
	border: 4px solid #fff;
	border-top-color: #f51255;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin: 0 auto;
	margin-bottom: 180px;
}

@keyframes rotating {
	to {
		transform: rotate(360deg);
	}
}

/* Sites ---------------------------------------------------------------------------*/

/* Curriculo ---------------------------------------------------------------------------*/

.section-curriculo{
	width: 100%;
	height: 500px;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 10%;
}

.texto-curriculo{
	width: 75%;
		z-index: 2;	
}

.texto-curriculo h3{
	font-size: 40px;
	text-transform: uppercase;
	color: #f51255;
	font-weight: lighter;
	letter-spacing: 10px;
	padding-bottom: 30px;
}

.texto-curriculo p{
	font-size: 25px;
	text-align: justify;
	padding-right: 130px;
	color: #111;
}

.foto-curriculo{
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
		position: relative;
	z-index: 1;
}

.foto-curriculo img{
	width: 500px;

}


/* Curriculo ---------------------------------------------------------------------------*/




/* Footer ---------------------------------------------------------------------------*/


footer{
	background-color: #111;
	box-shadow: 0px -30px 30px #999;
	position: relative;
	z-index: 5;
}

.footer{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	align-items: center;

}

.footer nav{
	width: 25%;

}

.footer ul{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.footer ul li{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
}

.footer img{
	width: 30px;
}

.footer li p{
	padding-left: 10px;
	color: #ddd;
}

.credit {
	color: #ddd;
}

.credit b{
	color: #f51255;
}

/* Footer ---------------------------------------------------------------------------*/












@media (min-width: 1200px){
	.galeria{
		margin: 0 150px;
	}

}


@media (max-width: 1200px){
	.texto-curriculo p{
		font-size: 18px;
	}
	.texto-curriculo{
		z-index: 2;	
	}
	.section-curriculo{
		padding: 0px 8%;
	}
	[data-animation="right"]{
	transform: translate3d(0px, 150px, 0);
}
[data-animation="right2"]{
	transform: translate3d(0px, 150px, 0);
}
[data-animation="left"]{
	transform: translate3d(0px, 150px, 0);

}
[data-animation="left2"]{
	transform: translate3d(0px, 150px, 0);
	

}

	}




@media (max-width: 800px){

	.carregando-h2{
		font-size: 20px;
	}
	header{
		flex-direction: column;
	}
	header nav{
		width: 100%;
	}
	ul{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.a-nav{
		width: 100%;
		text-align: center;
		padding: 10px 0px;
	}
	header li{
		width: 100%;
	}
	#portfolio{
		background-color: #222;
	}
	#contato{
		background-color: #333;
	}
	.h2-efeito{
		margin: 0 30px;
		font-size: 40px;
		letter-spacing: 10px;
		width: 100%;
	}
	.whats{
		position: fixed;
		width: 50px;
		height: 50px;
		right: 5%;
	}
	.whats img{
		width: 35px;
		height: 36px;
	}
	.p-sobre{
		width: 90%;
		font-size: 20px;
		line-height: 30px;
	}
	.galeria{
		margin: 0 50px;
	}
	.galeria a{
		flex:50%;
	}
	.titulo-sites h3{
		padding: 0px 5%;
	}
	.section-curriculo{
		flex-direction: column;
		height: 100%;
		align-items: flex-end;
		padding: 0%;
	}
	.texto-curriculo{
		align-self: flex-start;
		padding-left: 10%;
		padding-top: 10%;
		width: 100%;
		padding-right: 0%;
	}
	.texto-curriculo p{
		font-size: 20px;
		padding-right: 10%;
	}
	.titulo-sites h3{
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-bottom: 30px;
	}

	.galeria-sites p{
		font-size: 30px;
	}

	.galeria-sites img{
		width: 80%;
		margin-bottom: 20px;
		border-radius: 15px;
	}

	.footer{
		flex-direction: column;
	}
	.footer nav{
		width: auto;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.footer ul{
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.footer li{
		padding: 0 10px;
	}
}





